.px-7{
    padding-right: 7rem !important;
    padding-left: 7rem !important;
}
.py-7{
    padding-top: 5rem !important;
    padding-bottom: 3rem !important;
}
.py-6{
    padding-top: 4rem !important;
    padding-bottom: 3rem !important;
}
.bg-gray{
    background-color:#BDBDBD;
}